
 :root {
    display: flex;
    flex-wrap: wrap;
 }

/* Utility Classes - Flex */
.row {
  display: flex;
  flex-direction: row;
}

.wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

/* Utility Classes - Stack */

.no-top-margin {
  margin-top: 0;
}

.stack-sm {
  margin-top: 1rem;
}

/* Card flip */

.card-container {
    border: solid black 0.1rem;
  margin-top: 5rem;
  width: 15rem;
  height: 20rem;
}

.player-card {
}

.computer-card {
    background-color: blue;
    position: relative;
  transition: transform 1s;
}


.card-front{
    width: 15rem;
    height: 20rem;
    align-items: center;
    justify-content: space-around;

}

.card-back {
    background-color: red;

}

.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card__img {
  width: 12rem;
  height: 12rem;
  border: solid black 0.1rem;
}

.card__skill {
  width: 80%;
}

.card__skill-value {
  margin-left: 3rem;
}
